
#root{
  margin: 0 5%;
}

.masonry-root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content:center;
}

.masonry-root .masonry-cell{
  margin: 4px;
  width: 236px; 
}

.masonry-root .masonry-cell .masonry-item {
  background: #EC985A;
  color: white;
  margin: 4px;
  font-family: system-ui;
  font-weight: 900;
  font-size: 24px;
    display: flex;
    flex-direction: column;
}
.masonry-item .card-image>img{
  height: 100%;
  width: 100%;
  /* object-fit: contain; */
}
.author-image{
  height: 50px!important;
  width: 50px!important;
  border-radius: 50%;
  margin: 0 8px;
  min-height: unset;
}
.author-desc{
  display: flex;
  justify-content: center ;
  align-items: center;
}